{% extends 'form.html' %}

{% block main %}
<div class="mt-5 pt-3 mx-5 px-5">
  <div class="card">
    <div class="card-body row">
      <div class="col-3 text-center">
        <h2 class="text-capitalize fw-bold">{{ pokemon["name"] }}</h2>
        <div class="bg-body-secondary px-2 rounded-2">
          <img src="{{ pokemon["sprites"]["spriteDef"] }}" id="spriteImg" style="height: 250px;">
          <div class="row px-1">
            <button class="col btn btn-dark rounded-top-0 rounded-end-0 fw-semibold" id="btnDef">Default</button>
            <button class="col btn btn-dark rounded-top-0 rounded-start-0 fw-semibold" id="btnShi">Shiny</button>
          </div>
        </div>

        <div class="row px-2">
          {% with types = pokemon["types"] %}
            {% if types %}
              {% for type in types %}
                {% with nameType = type["type"]["name"] %}
                <span class="col mx-1 mt-3 badge {{ badges[nameType][1] }} text-capitalize px-3 py-2"
                  style="background-color: {{ badges[nameType][0] }};">{{ nameType }}</span>
                {% endwith %}
              {% endfor %}
            {% else %}
            <span class="col mx-1 mt-3 badge text-capitalize px-3 py-2"
              style="background-color: rgb(43, 43, 43);">Unknown</span>
            {% endif %}
          {% endwith %}
        </div>
      </div>

      <div class="col-9 border-start px-4">
        {% with statsName = ["HP", "ATK", "DEF", "S-ATK", "S-DEF", "VEL"],
          progressColor = ["rgb(135, 214, 60)", "rgb(226, 57, 57)", "rgba(63, 98, 255, 1)", "rgba(255, 96, 48, 1)", "rgba(121, 63, 255, 1)", "rgb(255, 210, 64)"] %}
          {% for i in range(0, 6) %}
          <div class="row mt-3">
            <p class="col-2 fs-5 fw-bold">{{ statsName[i] }}</p>
            <div class="col-10 progress p-0" role="progressbar" style="height: 31px;" 
              aria-valuenow="{{ pokemon["stats"][i]["base_stat"] }}" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar fw-bolder"  
                style="width: {{ pokemon["stats"][i]["base_stat"] * 100 / 100}}%; background-color: {{ progressColor[i] }};">
                {{ pokemon["stats"][i]["base_stat"] }}
              </div>
            </div>
          </div>
          {% endfor %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>

<script>
  var btnDef = document.getElementById("btnDef")
  var btnShi = document.getElementById("btnShi")
  var spriteImg = document.getElementById("spriteImg")

  btnDef.addEventListener("click", () => {
    spriteImg.src = "{{ pokemon.sprites.spriteDef }}"
  })

  btnShi.addEventListener("click", () => {
    spriteImg.src = "{{ pokemon.sprites.spriteShiny }}"
  })
</script>
{% endblock main %}